@font-face {
    font-family: BYekan;
    src: url('../fonts/yekan-regular.eot');
    src: url('../fonts/yekan-regular.ttf') format('truetype'),
        url('../fonts/yekan-regular.woff') format('embedded-opentype');
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan.eot');
    src: url('../fonts/yekan.eot#iefix') format('embedded-opentype'),
         url('../fonts/yekan.woff') format('woff'),
         url('../fonts/yekan.ttf') format('truetype'),
         url('../fonts/yekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}