<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/bulma/bulma.min.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css" />
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <section class="hero is-promary is-fullheight-with-navbar">

        <!-- Begin HeroHead -->
        <div class="hero-head navbar-boxes">
            <!-- Begin navBar -->
            <div class="columns is-vcentered navbar-design is-mobile">
                <div class="column has-text-centered is-2 logo">
                    <span class="amax-logo-1">AMAX</span>
                </div>

                <div class="column">

                </div>

                <div class="column is-one-quarter has-text-right toolbox">
                    <a class="nav-button">
                        <i class="fas fa-eye"></i>
                    </a>

                    <a class="nav-button">
                        <i class="fas fa-bars"></i>
                    </a>

                    <a class="nav-button">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </div>
            <!-- End navBar -->
        </div>
        <!-- End heroHead -->

        <!-- Begin hero-body -->
        <div class="hero-body back1">
            <div class="container has-text-centered">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent is-vertical is-3 icons-boxes">
                                <article class="tile is-child notification is-primary boxes-number">
                                    <div class="msg-header average">
                                        <span class="msg-from average-box">
                                            میانگین قدرت خریدار
                                        </span>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box number-box3">
                                                <p class="number-1">320</p>
                                                <p class="number-2">
                                                    عدد فعلی
                                                </p>
                                            </div>
                                            <div class="column">
                                                <p>25%
                                                    <i class="fa fa-play fa-rotate-270"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به یک دقیقه
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box2">
                                                <p class="number-1">250</p>
                                                <p class="number-2">
                                                    میانگین 20 روزه
                                                </p>
                                            </div>
                                            <div class="column number-box3">
                                                <p class="color-icons">10%
                                                    <i class="fa fa-play fa-rotate-90"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به اول صبح
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                <article class="tile is-child notification is-primary boxes-number">
                                    <div class="msg-header average">
                                        <span class="msg-from average-box">
                                            میانگین قدرت خریدار
                                        </span>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box number-box3">
                                                <p class="number-1">320</p>
                                                <p class="number-2">
                                                    عدد فعلی
                                                </p>
                                            </div>
                                            <div class="column">
                                                <p>25%
                                                    <i class="fa fa-play fa-rotate-270"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به یک دقیقه
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box2">
                                                <p class="number-1">250</p>
                                                <p class="number-2">
                                                    میانگین 20 روزه
                                                </p>
                                            </div>
                                            <div class="column number-box3">
                                                <p class="color-icons">10%
                                                    <i class="fa fa-play fa-rotate-90"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به اول صبح
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                <article class="tile is-child notification is-primary boxes-number">
                                    <div class="msg-header average">
                                        <span class="msg-from average-box">
                                            میانگین قدرت خریدار
                                        </span>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box number-box3">
                                                <p class="number-1">260</p>
                                                <p class="number-2">
                                                    عدد فعلی
                                                </p>
                                            </div>
                                            <div class="column">
                                                <p>20%
                                                    <i class="fa fa-play fa-rotate-270"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به یک دقیقه
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box2">
                                                <p class="number-1">800</p>
                                                <p class="number-2">
                                                    میانگین 20 روزه
                                                </p>
                                            </div>
                                            <div class="column number-box3">
                                                <p class="color-icons">60%
                                                    <i class="fa fa-play fa-rotate-90"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به اول صبح
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="tile is-child notification is-primary boxes-number">
                                    <div class="msg-header average">
                                        <span class="msg-from average-box">
                                            میانگین قدرت خریدار
                                        </span>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box number-box3">
                                                <p class="number-1">320</p>
                                                <p class="number-2">
                                                    عدد فعلی
                                                </p>
                                            </div>
                                            <div class="column">
                                                <p>25%
                                                    <i class="fa fa-play fa-rotate-270"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به یک دقیقه
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="columns is-mobile">
                                            <div class="column number-box2">
                                                <p class="number-1">250</p>
                                                <p class="number-2">
                                                    میانگین 20 روزه
                                                </p>
                                            </div>
                                            <div class="column number-box3">
                                                <p class="color-icons">10%
                                                    <i class="fa fa-play fa-rotate-90"></i></p>
                                                <p class="number-2">
                                                    تغییر نسبت به اول صبح
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="tile is-parent right-box">
                                <div class="tile is-parent is-vertical right-box">
                                    <article class="tile is-child notification is-primary amax-brand">
                                        <Figure>
                                            <img src="logo.png" alt="LOGO2" class="logo-size">
                                        </Figure>

                                    </article>
                                    <article class="tile is-child notification is-info chart-boxes">
                                        <div>
                                            <figure>
                                                <img src=chart-amax.png alt="LOGO" class="img-chart">
                                            </figure>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tile is-parent">
                            <article class="tile is-child notification columns-foter">
                                <div class="columns is-vcentered icons-button-box">
                                    <div class="column has-text-centered icons-button buttondesign">
                                        <span class=" arrange">
                                            <img src="../images/icon-2.svg" alt="Icon02" class="space-butoon">
                                            غربال سهام
                                        </span>
                                    </div>

                                    <div class="column icons-button buttondesign">
                                        <span class=" arrange">
                                            <!-- <i class="fab fa-artstation fa-3x"></i> -->
                                            <img src="../images/footer-icon-1.svg" alt="Icon01" class="space-butoon">
                                                بازار سنج
                                        </span>
                                    </div>
                                    <div class="column icons-button buttondesign">
                                        <span class=" arrange">
                                            <img src="../images/icon-3.svg" alt="Icon03" class="space-butoon">
                                            روند نمادها
                                        </span>
                                    </div>
                                    <div class="column icons-button buttondesign">
                                        <span class=" arrange">
                                            <img src="../images/icon-4.svg" alt="Icon04"  class="space-butoon">
                                            لیگ رتبه بندی سهام
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End hero-body -->

        <!-- Hero footer: will stick at the bottom -->
        <!-- <div class="hero-foot">
            <nav class="tabs is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Overview</a></li>
                        <li><a>Modifiers</a></li>
                        <li><a>Grid</a></li>
                        <li><a>Elements</a></li>
                        <li><a>Components</a></li>
                        <li><a>Layout</a></li>
                    </ul>
                </div>
            </nav>
        </div> -->

    </section>

</body>

</html>